/**
 * Paragraph: Page Section
 */
.page-section {
  padding: calc(2em + 10px) 2em;
  background: #3c3c3c;
  color: #eee;
  text-align: center;
}

.page-section--color-blue {
  background: #00b9f1;
  color: #fff;
}

.page-section--color-yellow {
  background: #ffdc4b;
  color: #111;
}

/**
 * The children of Page Section should have a max-width.
 */
.page-section > .paragraph {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
