/**
 * Front page styles
 */
.front-page {

}

.front-page__logos {
  position: absolute;
  top: 6rem;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 15vw;
}

.front-page__logo {
  /**
   * background-image is dynamically supplied via twig
   * @see html/themes/whd2021/templates/page--front.html.twig
   */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo--whd {
  width: 33%;
  height: 15vw;
}

.logo--thr {
  width: 20%;
  height: 15vw;
}
