/**
 * Paragraph: Heading
 */
.heading {
  font-family: 'Oswald', sans-serif;
}

.heading--color-blue {
  color: #00b9f1;
}

.heading--color-yellow {
  color: #ffdc4b;
}

/**
 * There's a default width restriction within the Page Section rules so we
 * follow its selector format to override. this override exists in order to
 * maintain comfortable reading widths at all times, no matter what size layout
 * is being displayed.
 */
.page-section > .paragraph.paragraph--type--heading {
  max-width: 38ch;
}


/**
 * Preventing unsafe colors
 *
 * Since the section and heading colors are all driven off of one field with
 * identical configuration everywhere, it's possible to select a blue-on-blue
 * or similar color combos. We want to prevent that from happening and force the
 * color to be the highest-contrast alternative when it does occur.
 */
.page-section--color-gray .heading--color-gray {
  color: #eee;
}
.page-section--color-blue .heading--color-blue {
  color: #fff;
}
.page-section--color-yellow .heading--color-yellow {
  color: #111;
}
