/**
 * Paragraph: Video Embed
 *
 * Don't define any grid-related properties here. Do it inside Video Grid.
 */
.video-embed {}

.video-embed__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.video-embed__video {
  /* RWD video embed */
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-embed__video .media-oembed-content {
  /* RWD video embed */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-embed__caption {
  padding-top: 1rem;
  font-size: 0.9em;

  /* if the video embed is not within a grid, help keep the caption readable by
  using the same max-width as a Text paragraph. */
  max-width: 60ch;
  margin: 0 auto;
}
