/**
 * Paragraph: Article Teaser
 */
.article-teaser {
  display: flex;
  flex-flow: column nowrap;
}

.article-teaser__heading {
  margin: 1rem 0 0 0;

  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.article-teaser__photo {
  /* Photos appear first in visual order */
  order: -1;
}

.article-teaser__photo img {
  height: auto;
}

.article-teaser__caption {
  /* if the Article Teaser is not within a grid, keep the caption readable by
  using the same max-width as a Text paragraph. */
  max-width: 60ch;
  margin: 1rem auto;
}

.article-teaser__caption a {
  color: inherit;
  font-weight: 700;
}
